{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}
	
<h3>About</h3>

<blockquote>
<p > This is a light-weight link shortener developed in <span class="label label-primary">Python</span> as a personal project.</p>

</blockquote>
<!--
<div class="btn-group" role="group" aria-label="...">    
<button type="button" class="btn btn-default">
	    <a href = "http://linkedin.com/in/umar-faruk"><span class="glyphicon glyphicon-plus"></span> LinkedIn </a>
    </button>
<button type="button" class="btn btn-default">
        <a href = "http://github.com/faruk13"><span class="glyphicon glyphicon-gift"></span>Github </a>
    </button>
<button type="button" class="btn btn-default">
	    <a href = "http://www.codechef.com/users/faruk13"><span class="glyphicon glyphicon-plus"></span> Codechef </a>
    </button>
<button type="button" class="btn btn-default">
        <a href = "http://www.hackerrank.com/faruk13"><span class="glyphicon glyphicon-gift"></span>HackerRank </a>
    </button>
</div>

-->
<a href = "http://linkedin.com/in/umar-faruk" class="waves-effect waves-light btn social linkedin light-blue darken-2"><i class="fa fa-linkedin"></i> LinkedIn</a>
<a href = "http://github.com/faruk13" class="waves-effect waves-light btn social github grey darken-3"><i class="fa fa-github"></i> Github</a>
<a href = "http://www.codechef.com/users/faruk13" class="waves-effect waves-light btn lime darken-4"><i class="material-icons left">laptop</i>Codechef</a>
<a href = "http://www.hackerrank.com/faruk13" class="waves-effect waves-light btn green darken-1"><i class="material-icons left">code</i>HackerRank</a>

<br>

{% endblock %}
