{% extends "bootstrap/base.html" %}


{% block title %}
    {% if title %}
      {{ title }} - Link Shortener
    {% else %} 
        Welcome to Slynk 
    {% endif %}
{% endblock %}

{% block head %}
{{super()}}
<link rel="icon" type="image/png" href="icon.png">
{% endblock %}  

{% block navbar %}

<!--
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a  class="navbar-brand" href="{{ url_for('index') }}"><span class="glyphicon glyphicon-link "><span class="glyphicon glyphicon-link ">Slynk</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                 <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('about') }}"><span class="glyphicon glyphicon-user"></span> About</a></li>
                </ul>                
                
               
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('shorten') }}"><span class="glyphicon glyphicon-link"></span> Shorten Link</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="{{ url_for('index') }}"><span class="glyphicon glyphicon-send"></span> Home</a></li>
                </ul>
            </div>
        </div>
    </nav>
-->
 <div class="container">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark pink darken-2">
    <div class="nav-wrapper">
    <a href="{{ url_for('index') }}" class="brand-logo"><span class="glyphicon glyphicon-link "><span class="glyphicon glyphicon-link ">Slynk</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li class="active"><a href="{{ url_for('index') }}"><i class="material-icons left">dashboard</i>Home</a></li>        
        <li><a href="{{ url_for('shorten') }}"><i class="material-icons left">insert_link</i>Shorten Link</a></li>        
        <li><a href="{{ url_for('about') }}"><i class="material-icons left">person</i>About</a></li>   
      </ul>
    </div>
  </nav>
 </div >
    <ul class="sidenav" id="mobile-demo">
        <li class="active"><a href="{{ url_for('index') }}"><i class="material-icons left">dashboard</i>Home</a></li>        
        <li><a href="{{ url_for('shorten') }}"><i class="material-icons left">insert_link</i>Shorten Link</a></li>        
        <li><a href="{{ url_for('about') }}"><i class="material-icons left">person</i>About</a></li>
     </ul>

{% endblock %}



{% block content %}

    <div class="container">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block app_content %}{% endblock %}
        
    </div>
  {% block footer %}

    <footer class="footer">
        <div class="container">
            <br>

            <span class="text-muted grey-text text-darken-4">&copy; 2019 Umar Faruk.</span> <a href = "http://linkedin.com/in/umar-faruk" class="waves-effect waves-light btn-small social linkedin light-blue darken-4"><i class="fa fa-linkedin"></i></a>

         
        </div>
     
    </footer>
    {% endblock footer %}

{% endblock %}







{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
     M.AutoInit();    
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems, options);
  });</script>
{{super()}}
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}



