{% extends "base.html" %}

{% block app_content %}

<blockquote>
  <p>Slynk is a light-weight link shortener still in beta. It makes sure that the link is not dead, only then it shortens it.  </p>
    <p> Wanna shorten your big big link? Try Slynk. </p>
    <!-- <button type="button" class="btn btn-default">
	   <a href = "{{ url_for('shorten') }}"><span class="glyphicon glyphicon-resize"></span> Shorten! </a> 
</button>

<a href = "{{ url_for('shorten') }}" class="waves-effect waves-light btn">Shorten!</a>

<button class="btn waves-effect waves-light" type="submit" name="action" href = "{{ url_for('shorten') }}">Shorten!
    <a href = "{{ url_for('shorten') }}">  </a> 
    <i class="material-icons right">insert_link</i>
  </button>
-->
<a href = "{{ url_for('shorten') }}" class="waves-effect waves-light btn blue-grey darken-2"><i class="material-icons right">insert_link</i>Shorten!</a>    


</blockquote>
  



<br>
	<h4 class="text-danger"><span class="glyphicon glyphicon-paperclip"></span> Links shortened:</h4>
    <table class="table table-striped table-bordered table-hover">
        <thead >
            <tr >
               <!--	<th>Id</th> -->
		        <th>Short</th>
                <th>Long</th>
                <th>Date Created</th>
            </tr>
         </thead>
    
         <tbody>
	            {% for s in sLinks %}
	            <tr>
                  <!--<td>{{ s.urlId }}</td>-->
                  <td>{{ s.shortURL }}</td>
                  <td>{{ s.longURL }}</td>
                  <td>{{ s.createdAt }}</td>
                </tr>
	            {% endfor %}
         </tbody>
 </table >
{% endblock %}
